{% extends 'dashboard/layout.html' %}
{% load static %}

{% block content %}

	{% for post in posts %}

		{% if post.userid == request.user %}

			<div class="row post-container">
				<div class="col-lg-2">
					<i class="fas fa-user-circle fa-5x float-right cursor"></i>
					</div>
				<div class="col-lg-7">
					<p>{{post.post}}</p>
					<small class="post-stats cursor"><a style="color: black;" href="{% url 'people_who_liked' id=post.id %}">Likes</a> <span class="badge badge-success">{{post.likes}}</span></small>
					<small class="post-stats cursor">Comments <span class="badge badge-info">{{post.comments}}</span></small>
				</div>
				<div class="col-lg-3">
					<form method="post" action="{% url 'delete_post' id=post.id %}">
						{% csrf_token %}
						<button class="btn btn-danger">Delete post</button>
					</form>
				</div>
			</div>
			<hr>

		{% endif %}

	{% endfor %}

	{% if request.user.is_authenticated%}

		<form class="fixed-bottom" method="post" action="{% url 'submit_post' %}">
			{% csrf_token %}
			<textarea class="form-control" placeholder="Message" maxlength="500" name="post" required></textarea>
			<button type="submit" class="btn btn-success" style="width: 100%;">Submit post</button>
		</form>

	{% endif %}

{% endblock %}